<div class="component">
  <div class="image-container">
    <img src="assets/img/componentes/copaso.jpeg" alt="Image" width="700" class="image-frame">
  </div>
  <div class="content">
    <h3 class="tituloTabla">Integrantes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alison Elizabeth Hernández Valencia</td>
          <td><i class="fas fa-user-tie"></i> Coordinadora de talento humano</td>
        </tr>
        <tr>
          <td>Karen Patricia Posada Devoz </td>
          <td><i class="fas fa-shipping-fast"></i> Coordinadora de importaciones</td>
        </tr>
        <tr>
          <td>Miguel Ángel Herrera Echeverry</td>
          <td><i class="fas fa-laptop-code"></i> Ing. Tecnologías de la información</td>
        </tr>
        <tr>
          <td>Yeimi Cristina Gaviria López</td>
          <td><i class="fas fa-calculator"></i> Analista de nómina</td>
        </tr>
      
        <tr>
          <td> Sandra Lorena Betancourt Acevedo </td>
          <td><i class="fas fa-file-invoice-dollar"></i> Auxiliar contable</td>
        </tr>
        <tr>
          <td>Jefferson Cardona Gómez</td>
          <td><i class="fas fa-users"></i> Asistente de talento humano</td>
        </tr>
        <tr>
          <td>Paula Alejandra Marin Romero </td>
          <td><i class="fas fa-briefcase"></i> Coordinadora Administrativa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>