<!-- Hero -->
<app-info-complement></app-info-complement>

<section class="et-hero-tabs">
    <img src="assets/Logo3.png" style="width: 390px;height: 65px;">
    <!-- <h1 style="margin-top: 10px;">Bienvenido a Intrafres</h1> -->
    <h3>Trabajamos con perseverancia para prestarle un servicio excelente.</h3>
    <h3>Gracias por creer y confiar en nosotros !!</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-Principal">Principal</a>
        <a class="et-hero-tab" href="#tab-Acordion">informacion ?</a>
        <a class="et-hero-tab" href="#tab-Eventos">Destacados</a>
        <a class="et-hero-tab" href="#tab-Copass">Copass</a>
        <a class="et-hero-tab" href="#tab-Cocola">Cocola</a>
        <a class="et-hero-tab" href="#tab-Brigada">Brigada Emergencia</a>
        <a class="et-hero-tab" href="#tab-Info">Acerda de</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>
<br>
<!-- Main -->
<main class="et-main">

    <section class="et-slide" id="tab-Principal">
        <br>
        <h1> Cumpleaños del Mes </h1>
        <br><br>
        <app-informacion></app-informacion>
    </section>

    <section class="et-slide" id="tab-Acordion">
        <br>
        <h1> Informacion ?? </h1>
        <accordion-template></accordion-template>
    </section>
    <section class="et-slide" id="tab-Eventos">
        <br>
        <h1> Eventos realizados </h1>
        <br><br>
        <app-carousel></app-carousel>
    </section>

    <section class="et-slide-comites" id="tab-Copass">
        <br>
        <app-copaso></app-copaso>
    </section>

    <section class="et-slide-cocola" id="tab-Cocola">
        <br>
        <app-cocola></app-cocola>
    </section>

    <section class="et-slide-brigada" id="tab-Brigada">
        <br>
        <app-brigada></app-brigada>
    </section>

    <section class="et-slide-info" id="tab-Info">
        <h1>Información de Interés</h1>
        <br>
        <app-card></app-card>
    </section>

</main>