<!-- Hero -->
<app-info-complement></app-info-complement>

<section class="et-hero-tabs">
    <h1>Página Principal Fresmar</h1>
    <h3>Welcome to the Jungle !!</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-Principal">Principal</a>
        <a class="et-hero-tab" href="#tab-Carousel">Carousel</a>
        <a class="et-hero-tab" href="#tab-Acordion">Acordion</a>
        <a class="et-hero-tab" href="#tab-Angular">Angular</a>
        <a class="et-hero-tab" href="#tab-AppCard">AppCard</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>

<br>

<!-- Main -->
<main class="et-main">

    <section class="et-slide" id="tab-Principal">
        <h1> Titulo Información </h1>
        <div class="card">
            <div class="card-head"> Título del contenido </div>
            <div class="card-body">
                Aquí va el contenido de la pantalla principal Home
            </div>
        </div>
    </section>

    <section class="et-slide" id="tab-Carousel">
        <h1> Carousel </h1>
        <carousel></carousel>
    </section>

    <section class="et-slide" id="tab-Acordion">
        <h1>Accordion </h1>
        <accordion-template></accordion-template>
    </section>

    <section class="et-slide" id="tab-Angular">
        <h1>Angular</h1>
        <h3>something about angular</h3>
    </section>

    <section class="et-slide" id="tab-AppCard">
        <h1> App Card </h1>
        <app-card></app-card>
    </section>

</main>