
<div class="counter-wrapper">
    <a title="contador de visitas" style="display: inline-block;">
        <img src="https://counter10.optistats.ovh/private/contadorvisitasgratis.php?c=uadp3jp3qr783q4f5cnt1b9d1ewu85y8" border="0" title="contador de visitas" alt="contador de visitas">
    </a>
</div>

<app-info-complement></app-info-complement>
<br>
<h1 style="text-align: center; font-family: 'Courier New', Courier, monospace;"> Bienvenido a Fresmar </h1>
<div class="card">
    <div class="card-head"> Titulo del contenido </div>
    <div class="card-body">
         Aqui va el contenido de la pantalla principal Home
    </div>
</div>
<br>

<carousel></carousel>
<br><br>

<accordion-template></accordion-template>
<br><br>

<app-card></app-card>




