

h2 {
    margin: 0;
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  
  li {
    margin: 1.5em 0;
    padding: 0;
  }
  
  b { /* used for event dates/times */
    margin-right: 3px;
  }

  .evento-vencido {
    opacity: 0.2; /* Ajusta este valor según el nivel de desvanecimiento deseado */
  }  
  
  .event-list {
    max-height: 550px; /* Altura máxima de la lista de eventos */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando la lista se desborda */
  }

  .demo-app {
    display: flex;
    height: 850px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .demo-app-sidebar {
    width: 250px;
    height: 854px;
    line-height: 1.2;
    background: #eaf9ff;
    border: 1px solid #d3e2e8;
  }
  
  .demo-app-sidebar-section {
    padding: 0.5em;
  }
  
  .demo-app-main {
    flex-grow: 1;
    padding: 0em;
  }
  
  .fc { /* the calendar root */
    max-width: 950px;
    margin: 0 auto;
  }