<div class='demo-app'>
  <div class='demo-app-sidebar'>
    <div class='demo-app-sidebar-section'>
      <p-button (click)="showDialog()" icon="pi pi-envelope" label="Instrucciones de Uso" styleClass="p-button-primary"></p-button>
      <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">Instrucciones de uso Calendario Fresmar</span>
        </ng-template>
        <p>
          En la Intranet encontrarás el siguiente contenido: Universidad Fresmar, Cuadre de Caja, en el Home contenido sobre noticias, etc., zona para documentos en los que podrás encontrar plantillas de Excel, Word y PowerPoint, Calendario para los eventos del mes y Solicitudes.
        </p>
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>
      <ul>
        <li> <p style="font-weight: bold;">Para agregar Eventos :</p> Selecciona un día del calendario y agrega la información del Evento: título, fecha y hora </li>
        <li> <p style="font-weight: bold;">Para eliminar Eventos :</p> Haz click izquierdo sobre el nombre del Evento que quieras eliminar</li>
      </ul>
    </div>

    <div class='demo-app-sidebar-section'>
      <label>
        <input
          type='checkbox'
          [checked]='calendarOptions.weekends'
          (change)='handleWeekendsToggle()'
          />
          Modo semana completa
      </label>
    </div>
    <h2 style="font-weight: bold;margin-top: 10px;margin-left: 10px;">Eventos para Hoy :({{currentEvents.length}})</h2>
    <div class='demo-app-sidebar-section event-list'>
      <ul>
        <li *ngFor='let event of currentEvents' style="font-size: 13px;" [class.evento-vencido]="isEventExpired(event)">
          <i style="color: blue;font-weight: bold;font-size: 15px;">{{event.title}}</i>
          <br>
          <b> Inicio : {{event.startStr | date:'dd/MM/yyyy HH:mm'}}</b>
          <br>
          <b> Final : {{event.endStr | date:'dd/MM/yyyy HH:mm' }}</b>
        </li>
      </ul>
    </div>
  </div>

  <div class='demo-app-main'>
    <h1 style="text-align: center; font-family: 'Courier New', Courier, monospace;">Calendario Fresmar</h1>
    <full-calendar *ngIf='calendarVisible' [options]='calendarOptions' id="calendar">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>
